div.rinchen_terzod {
	font-family: "Arial Narrow", Arial, sans-serif;
	padding: 0 1em;
}
div.rinchen_terzod p {
	margin-top: 1em;
}
div.rinchen_terzod p.title {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 1.5em 0;
}
div.rinchen_terzod p.section {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	margin: 1em 0;
}
div.rinchen_terzod span.intro {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
}
div.rinchen_terzod span.emphasis {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	font-style: italic;
}