td#lamascell {
	vertical-align: top;
	width: 450px;
	height: 200px;
}
td#lamascell img {
	border-width: 4px;
	border-style: solid;
	border-color: #FFF;
	margin: 0;
	padding: 0;
}
td#lamascell img.selected {
	border-color: blue;
}
tr#pictureRow td {
	padding-bottom: 3px;
}
tr#tabRow td {
	padding: 0;
	margin: 0;
	text-align: center;
	vertical-align: middle;
	font-weight:bold;
	background:#bbb;
	border-left:1px solid #fff;
	border-top:1px solid #fff;
	border-bottom:2px solid #fff;
	border-right:1px solid #aaa;
}
tr#tabRow td a {
	display:block;
	color:#444;
	text-decoration:none;
	font-weight:bold;
	padding: 0.5em;
	margin: 1px;
}
tr#tabRow td.selected a {
	background:#ddd;
}
tr#tabRow td {
	background:#bbb;
}
tr#tabRow td.selected {
	border-bottom:2px solid #ddd;
	background:#ddd;
}
tr#tabRow a:hover,a:active,a.selected {
	background:#ddd;
}
iframe#bioframe {
	width: 627px;
	height: 25em;
	background-color: #ddd;
	padding: 0 0 0 1px;
	border-top: 0;
	border-bottom: 0;
	border-left: 4px #ddd solid;
	border-right: 5px #ddd solid;
	margin: 0;
}
body.bio {
	background-color: #ddd;
}
body.bio p {
	font-size: 1.1em;
}