* {margin: 0; padding: 0;}

body {
	background-image:url('../images/mainbg.gif');
	font-family: arial, sans-serif;
}

A:link {color: #00F}
A:visited {color: #00F}
A:hover {color: #3C3;}
a.bold {font-weight: bold;}
a.bold:hover {color: #3C3;}

*.bold {font-weight: bold;}

table#container {
	width: 770px;
	margin-left: auto ;
	margin-right: auto ;
}

table#container td.contentpane {
	border: 1px solid black;
}

td.announcementCell A:link {
    color:#96200b
}

td.announcementCell A:visited {
    color:#96200b
}

td.announcementCell A:hover {
    color: #3C3;
}


div#fundraising tr.donation td {
	padding: 0 1em 0 1em;
	text-align:left;
	vertical-align:top; 
}

div#fundraising tr.donation td p {
	font: 0.9em/1.2 arial, sans-serif;
	font-weight: bold;
}

table.dev td {
	border: 1px solid black;
}

div#container {
	position: relative;
	top: 10px;
	width: 767px;
	margin:0 auto;
	background-color: #FFF;
	border: 1px solid #000;
	height: 727px;
	text-align: left;
}

div#topbanner {
     margin: 0;
     height: 19px;
     padding: 3px 0 0 0;
     text-align: center;
     background-color: rgb(121,0,0);
}

div#oddbanner {
     margin: 0;
     height: 105px;
     padding: 5px 0 0 0;
     text-align: center;
     background-color: rgb(255,247,153);
     border-bottom: 1px solid #000;
}

div#oddbanner A {text-decoration: none; border: none;}
div#oddbanner A img {border: none;}
div.indented {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

div#content h2 {
	font-family: arial, sans-serif;
	font-size: 14pt;
	color: rgb(121,0,0);
	margin: 0 0 20px 0;
}

p.subscription {
	font-weight: bold;
	font-size: 10pt;
	font-family: arial, sans-serif;
	color: #000;
	padding-bottom: 20px;
}

a.subscription {
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	text-decoration: underline;
}

table#subscribe {
	margin-bottom: 30px;
}

table#subscribe td.label {
	font-family: arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 5px;
}

table#subscribe td#buttonCell {
	padding-top: 5px;
	text-align: right;
}

table#container {
	border-collapse: collapse;
	border: 1px solid black;
	margin-top: 10px;
	width: 767px;
	margin-bottom: 10em;
}

table#container td {
    text-align:left;
}

table#container td#topbanner {
	height: 22px;
	width: 767px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: rgb(121,0,0);
}

table#container td#leftmenu {
	width: 163px;
	border-right: 1px solid black;
	background-image:url('../images/nav_bg.gif');
	vertical-align: top;
	text-align:left;
	white-space: nowrap;
}

table#container td#leftmenu img {
	display: block;
	margin: 0;
	padding: 0;
	border: 0;
}

table#container td#leftmenu img.linkSection {
	margin-top: 5px;
}

table#container td#leftmenu a {
	display: block;
	padding: 0;
	border: 0;
}

table#container td#oddbanner {
	height: 110px;
	width: 604px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	background-color: rgb(255,247,153);
	border-bottom: 1px solid black;
}

table#container td#oddbanner a {
	text-decoration: none;
	cursor:pointer;
}

table#container td#oddbanner img {
	border: 0;
}

table#container td.contentpane {
	height: 575px;
	width: 587px;
	vertical-align: top;
	background-color: #FFF;
	padding: 10px 15px 10px 15px;
}

table#container td#mappane {
	height: 575px;
	width: 587px;
	vertical-align: top;
	background-color: #FFF;
	padding: 5px;
}

table#container td#footerCell {
	vertical-align: bottom;
	text-align: center;
	background-color: #FFF;
	padding-bottom: 5px;
	font-size: 0.8em;
}

div#headerLinks {
	text-align: center;
	font-size: 0.8em;
}

span#copyspan {
	display: block;
	margin-top: 5px;
	font-size: 8pt;
	color: black;
}

img.titleImage {
	margin-bottom: 10px;
	display: block;
}

table#contentlayout {
	border-collapse:collapse;
}

table#contentlayout td {
	margin:0;
	padding:0;
	border:0;
}

table#contentlayout td#guruscell {
	vertical-align: top;
	width: 450px;
	height: 200px;
}

iframe#mapframe {
	width: 100%;
	height: 30em;
}

table#contentlayout td#founding_info_cell {
	vertical-align: top;
	width: 300px;
	padding: 0 10px 0 0;
	font-size: 10pt;
}

table#contentlayout td#founding_info_cell a {
	color: black;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
}

table#contentlayout td#founding_info_cell a:hover {
	color: #3C3;
	font-weight: bold;
	font-size: 10pt;
	text-decoration: none;
}

table#contentlayout td#join_email_list_cell {
	vertical-align: top;
	width: 150px;
	padding: 10px 20px 20px 20px;
	font-size: 10pt;
	background-color: #FFFFCC;
	border: 1px black solid;
}

table#contentlayout td#join_email_list_cell a.header {
	font-size: 10pt;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
	color: rgb(121,0,0);
}

table#contentlayout td#join_email_list_cell a.header:hover {
	color: #3C3;
}

table#contentlayout td#join_email_list_cell p {
	margin-top: 15px;
	margin-bottom: 15px;
}

table.imageTable {
	width: 550px;
}

table.imageTable td.titleCell img {
	margin-bottom: 0;
}

table.imageTable td.barCell {
	text-align: left;
	vertical-align: middle;
	width: 550px;
	padding-top: 10px;
	padding-bottom: 10px;
}

table.imageTable td.buddhaCell {
	text-align: left;
	vertical-align: middle;
	width: 239px;
}

table.imageTable td.leftImageTextCell {
	font: 12px arial, san-serif;
	text-align: left;
	vertical-align: middle;
	padding-left: 12px;
}

table.imageTable td.leftImageTextCell p.topspace {
	margin-top: 7px;
}

table.eventTable {
	border: 1px solid #CCC;
	border-collapse: collapse;
	margin-top: 15px;
}

table.eventTable td {
	padding: 5px;
}

table.eventTable td.titleCell {
	background-color: #F9F7F5;
	font-size: 10pt;
	font-weight: bold;
}

table.eventTable td.locationCell {
	background-color: #F2F6FB;
	font-size: 10pt;
}

table.eventTable td.dateCell {
	background-color: #EEE;
	font-size: 9pt;
}

table.eventTable td.descriptionCell {
	font-size: 10pt;
}

table.eventTable td.dateCell table.eventDateTable td {
	padding: 0 10px 0 0;
	font-size: 9pt;
	background-color: #EEE;
}

table.eventTable ul {
	margin-top: 1em;
	margin-bottom: 1em;
}

table.eventTable li {
	margin-left: 1em;
}

div#contactPageContactInfo {
	margin: 30px;
	line-height: 1.5em;
}

div.contactInfo span {
	display: block;
}

td#rentalText {
	text-align: left;
	vertical-align: top;
	font: 1.0em/1.2 "Times New Roman", "Times", serif;
	font-weight: bold;
	padding: 1em 1em 0 0;
}

td#rentalContact {
	white-space: nowrap;
	font-size: 0.8em;
	font-weight: bold;
	padding: 1em 0 0 0;
}

td#rentalContact span.contact {
	display: block;
}

div#rentalImages {
	height: 425px;
	width: 240px;
	overflow:auto;
	float: right;
}

div#rentalImages img {
	float:right;
}

span.contact {
	display: block;
}

div#fundraising p {
	font: 1.0em/1.2 "Times New Roman", "Times", serif;
	margin-top: 15px;
}

div#fundraising p.title {	
	font-weight: bold;
	text-align: center;
}

td.contact,p.contact {
	font: 0.8em/1.2 arial, sans-serif; font-weight: bold;
}

table#throma-donation {
	margin: 1em 1em;
}
img#troma-small {
	float: right;
	margin: 0 0 0 1em;
}
table#throma-donation td {
	padding: 0 2em 0 3em;
}
table#donation_options {
	margin: 2em 1em;
}

td.header {
	font: 0.8em/1.2 arial, sans-serif;
	font-weight: bold;
}

table#donation_options td.donation_form {
	padding: 1em;
	text-align: center;
	vertical-align: top;
	width: 11em;
}

table#donation_options td.spacer {
	width: 3em;
}
div#fundraising {
	position:relative;
}
div#ach_form {
	position:absolute;
	right:5px;
	bottom:-5px;
	z-index:1;
}
input#ach_button {
	margin-bottom: 0.3em;
}

div#maps {
	height: 435px;
	overflow: auto;
	text-align: left;
	border: 3px solid #660099;
	background-color: #999;
}

img#mapsTitle {
	margin-bottom: 0;
	display: block;
}

div#address {
	font-size: 0.8em;
	font-weight: bold;
	margin: 0 10px 0.5em 0;
}

div.mapLinks {
	font-size: 0.8em;
	margin: 0 10px 0.3em 0;
}

div.mapLinks span.mapLinkSectionTitle {
	font-weight: bold;
}

div.mapLinks a {
	font-weight: bold;
	margin-left: 0.3em;
}

span.mapTitle {
	font-weight: bold;
	background-color: #DDD;
	font-size: 1em;
	line-height: 1.6em;
	padding: 0.3em 1.5em 0.3em 0.5em;
}

table#yeshenyingpo td.text {
	font-family: garamond, "Times New Roman", serif;
	font-weight: bold;
	font-size: 24pt;
}

p.nyingpoSmallCaps {
	font: 0.9em arial, sans-serif;
	font-weight: bold;
	font-variant: small-caps;
	margin-top: 0.2em;
}

td#membership p.schpeel {
	font-size: 0.8em;
	margin-top: 1em;
}

td#membership div.contactInfo {
	font-size: 0.8em;
	margin-top: 1em;
	font-weight: bold;
}

td.center {text-align:center}

div#newSchedule {padding-left: 0.5em;}
div#newSchedule h3,h4 {margin-bottom: 0.7em; margin-top: 0.7em;}
div#newSchedule h3 {color: rgb(121,0,0);}
div#newSchedule p {margin-bottom: 0.5em; margin-top: 0.5em; font-weight: bold; font-size: 0.9em;}
div#newSchedule li {font: 0.9em/1.2 arial, sans-serif; margin-bottom: 0.1em;}
div#newSchedule span.date {font-weight: bold;}

table#menuTable {
	margin: 0;
	padding: 0;
	border-collapse: collapse; 
}

table#menuTable a {
	display: block;
	text-decoration: none;
	color: rgb(121,0,0);
	margin: 0;
	line-height: 2em;
}

table#menuTable a:hover,a:active {
	background-color: rgb(254,250,191);
}

table#menuTable td.menuCell {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	border-bottom: 1px solid black;
}

table#menuTable td.menuCell a span {
	padding-left: 1.2em;
}

p.schpeel {
	font-size: 0.8em;
	margin-top: 1em;
}

p.title {	
	font-size: 1.2em;
	font-weight: bold;
}

td#lamascell {
    vertical-align: top;
    width: 450px;
    height: 200px;
}
td#lamascell img {
    border-width: 4px;
    border-style: solid;
    border-color: #FFF;
    margin: 0;
    padding: 0;
}
td#lamascell img.selected {
    border-color: blue;
}
tr#pictureRow td {
    padding-bottom: 3px;
}
tr#tabRow td {
    padding: 0;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    font-weight:bold;
    background:#bbb;
    border-left:1px solid #fff;
    border-top:1px solid #fff;
    border-bottom:2px solid #fff;
    border-right:1px solid #aaa;
}
tr#tabRow td a {
    display:block;
    color:#444;
    text-decoration:none;
    font-weight:bold;
    padding: 0.5em;
    margin: 1px;
}
tr#tabRow td.selected a {
    background:#ddd;
}
tr#tabRow td {
    background:#bbb;
}
tr#tabRow td.selected {
    border-bottom:2px solid #ddd;
    background:#ddd;
}
tr#tabRow a:hover,a:active,a.selected {
    background:#ddd;
}
iframe#bioframe {
    width: 627px;
    height: 25em;
    background-color: #ddd;
    padding: 0 0 0 1px;
    border-top: 0;
    border-bottom: 0;
    border-left: 4px #ddd solid;
    border-right: 5px #ddd solid;
    margin: 0;
}

div.rinchen_terzod {
	font-family: "Arial Narrow", Arial, sans-serif;
	padding: 0 1em;
}
div.rinchen_terzod p {
	margin-top: 1em;
}
div.rinchen_terzod p.title {
	font-family: Arial, sans-serif;
	font-weight: bold;
	text-align: center;
	margin: 1.5em 0;
}
div.rinchen_terzod p.section {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
	margin: 1em 0;
}
div.rinchen_terzod span.intro {
	font-family: Arial, sans-serif;
	font-weight: bold;
	font-size: 0.8em;
}
div.rinchen_terzod span.emphasis {
	font-family: Arial, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	font-style: italic;
}