body {
	background-image:url('../images/mainbg.gif');
	font-family: arial, sans-serif;
	text-align: center;
	height:100%;}
div {
	text-align: left;
}
div#container {
  width: 690px;
  margin:0 auto;
  background:white;
  border: 1px solid #000;
  height: 97%;
}
div#topbanner {
     margin: 0; height: 21px;
     padding: 3px 0 0 0;
     text-align: center;
     background-color: rgb(121,0,0);
}
div#oddbanner {
     margin: 0;
     height: 99px;
     padding: 3px 0 0 0;
     text-align: center;
     background-color: rgb(255,247,153);
     border-bottom: 1px solid #000;
}
div#oddbanner A {text-decoration: none; border: none;}
div#oddbanner A  img {border: none;}

div#content {}
div#content h2 {
	font-family: helvetica, arial, sans-serif;
	font-size: 14pt;
	color: rgb(121,0,0);
}
div.indented {
	padding-top: 30px;
	padding-left: 30px;
	padding-right: 30px;
}

table#subscribe {
	margin-bottom: 30px;
}
table#subscribe td.label {
	font-family: helvetica, arial, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	padding: 5px;
}
table#subscribe td#buttonCell {
	padding-top: 5px;
	text-align: right;
}
p.subscription {
	font-weight: bold;
	font-size: 10pt;
	font-family: helvetica, arial, sans-serif;
	color: #000;
	padding-bottom: 20px;
}
a.subscription {
	display: block;
	margin-bottom: 10px;
	text-decoration: underline;
}
a.subscription:hover {
	color:#009193;
}

.arial10 { font-family: arial; font-size: 10px; }
.arial11 { font-family: arial; font-size: 11px; }
td {font-family: arial; font-size: 12px;}

.color-title		{background-color:#BAAD73; font-size: 12px;}
.color-header		{background-color:#ddddd5; font-size: 12px;}
.color-header1		{background-color:#ddddd5; font-size: 12px;}
.color-header2		{background-color:#eeeeee; font-size: 12px;}
.color-buttons		{background-color:#ccccc5; font-size: 12px;}
.color-border		{background-color:#666666;}
.color-maintitle		{background-color:#d6e0eb; font-size: 12px;}

.color-row			{background-color:#eeeeee;}
.color-white			{background-color:#ffffff;}
.color-rowalert		{background-color:#ffddaa;}

.buttn,.buttnText	{font-size:11px;font-family: arial,Geneva,Helvetica,sans-serif;background-color:#e0e0d5;}
.buttn-fix 			{font-size:11px;font-family: arial,Geneva,Helvetica,sans-serif;background-color:#e0e0d5;width:7.5em;}

.form-title			{color:white;}
	
a 					{text-decoration:underline; color:55480E;}
a:hover 			{text-decoration:underline; color:339900;}
.tabs		 		{font-family:arial,geneva,sans-serif; font-size: 12px;}
a.link:hover		{text-decoration:underline; color:66ff66;}

.label,.text,.link 	{font-size:11px;font-family: arial,Geneva,Helvetica,sans-serif;}
.label2 	{font-size:11px;font-family: arial,Geneva,Helvetica,sans-serif;}
.nospace			{line-height:2px;}
.sentance,ul 		{FONT-FAMILY: Arial, sans-serif; FONT-SIZE: 80%; LINE-HEIGHT: 131%}

td,p				{font-family: arial,Geneva,Helvetica,sans-serif; font-size: 12px;}	
th					{text-align:left;font-weight:normal;}	
b,.b 				{font-weight:bold; font-size: 12px;}
.text_bold 			{font-weight:bold;}
.h3,h3,.subhead		{font-size:12px;line-height:120%;font-family:arial,geneva,helvetica,sans-serif;}	
.pagedivider		{font-size:90%;line-height:120%;font-family:arial,geneva,helvetica,sans-serif;}	

.input 				{width:250px;}
.error 				{color:red;}
.success 			{color:green;}

.itemsml 			{FONT-FAMILY:  Arial, sans-serif; FONT-SIZE: 65%; LINE-HEIGHT: 150%; font-weight: bold; color:#333399;}
.headline			{font-family:arial;font-size:12px; color:BAAD73;}

.m0l0o {
	border: 1px solid #cccccc;
	text-decoration: none;
}

.m0l1o {
	border: 1px solid #ffffff;
	text-decoration: none;
}

.m0l0i {
	font-size: 11px;
	font-family: , Arial, Tahoma, Verdana;
	padding: 4px;
	text-decoration: none;
}

.m0l1i {
	font-size: 11px;
	font-family: Arial, Tahoma, Verdana;
	padding: 4px;
	text-decoration: none;
}

.ihmain { font-family: arial; font-size: 10px; }